# üé® SETUP SUPERSET - Configuration des tables SQL

**Objectif** : Cr√©er les tables Spark SQL pour que Superset puisse se connecter

**Auteurs** : Nejma MOUALHI | Brieuc OLIVIERI | Nicolas TAING

---

## üéØ Ce que fait ce notebook

1. Cr√©er des **tables externes Spark SQL** pointant vers les fichiers Parquet Gold
2. R√©parer les partitions de la table `fait_consultation`
3. V√©rifier que toutes les tables sont accessibles
4. Tester les requ√™tes SQL pour Superset

In [10]:
# Imports
from pyspark.sql import SparkSession

print("‚úÖ Imports OK")

‚úÖ Imports OK

In [11]:
# Configuration Spark
spark = SparkSession.builder \
    .appName("CHU_Superset_Setup") \
    .config("spark.sql.hive.convertMetastoreParquet", "false") \
    .enableHiveSupport() \
    .getOrCreate()

print(f"‚úÖ Spark {spark.version} d√©marr√© avec support Hive")
print("‚úÖ spark.sql.hive.convertMetastoreParquet = false (fix sch√©ma)")

‚úÖ Spark 3.5.0 d√©marr√© avec support Hive
‚úÖ spark.sql.hive.convertMetastoreParquet = false (fix sch√©ma)

---

## üìä √âTAPE 1 : Cr√©ation des tables externes

Ces tables permettent √† Spark SQL (et donc Superset) d'interroger les fichiers Parquet.

In [12]:
# Cr√©er toutes les tables externes

# D√©finitions des tables (SANS partitionnement pour dim_temps)
tables_definitions = {
    "dim_temps": """
        CREATE EXTERNAL TABLE dim_temps (
            id_temps STRING,
            date_complete DATE,
            annee INT,
            mois INT,
            trimestre INT,
            jour_semaine STRING,
            nom_mois STRING,
            est_weekend BOOLEAN,
            numero_jour_semaine INT
        )
        STORED AS PARQUET
        LOCATION '/home/jovyan/data/gold/dim_temps'
    """,

    "dim_patient": """
        CREATE EXTERNAL TABLE dim_patient (
            id_patient STRING,
            nom_hash STRING,
            prenom_hash STRING,
            sexe STRING,
            age INT,
            date_naissance DATE,
            ville STRING,
            code_postal STRING,
            pays STRING,
            groupe_sanguin STRING
        )
        STORED AS PARQUET
        LOCATION '/home/jovyan/data/gold/dim_patient'
    """,

    "dim_diagnostic": """
        CREATE EXTERNAL TABLE dim_diagnostic (
            code_diag STRING,
            libelle STRING,
            categorie STRING
        )
        STORED AS PARQUET
        LOCATION '/home/jovyan/data/gold/dim_diagnostic'
    """,

    "dim_professionnel": """
        CREATE EXTERNAL TABLE dim_professionnel (
            code_specialite STRING,
            id_prof STRING,
            nom STRING,
            prenom STRING,
            nom_specialite STRING
        )
        STORED AS PARQUET
        LOCATION '/home/jovyan/data/gold/dim_professionnel'
    """,

    "dim_etablissement": """
        CREATE EXTERNAL TABLE dim_etablissement (
            finess STRING,
            siret STRING,
            nom STRING,
            ville STRING,
            code_postal STRING,
            telephone STRING,
            email STRING,
            code_departement STRING,
            num_departement STRING,
            libelle_departement STRING,
            libelle_region STRING,
            abv_region STRING
        )
        STORED AS PARQUET
        LOCATION '/home/jovyan/data/gold/dim_etablissement'
    """,

    "fait_consultation": """
        CREATE EXTERNAL TABLE fait_consultation (
            id_consultation STRING,
            id_patient STRING,
            id_prof STRING,
            code_diag STRING,
            id_mutuelle STRING,
            id_temps STRING,
            date_consultation DATE,
            heure_debut TIMESTAMP,
            heure_fin TIMESTAMP,
            motif STRING,
            jour INT
        )
        PARTITIONED BY (annee INT, mois INT)
        STORED AS PARQUET
        LOCATION '/home/jovyan/data/gold/fait_consultation'
    """
}

print("üì¶ Cr√©ation des tables externes...\n")

for i, (table_name, create_sql) in enumerate(tables_definitions.items(), 1):
    try:
        # D'abord DROP (commande s√©par√©e) - FORCE pour supprimer le metastore
        try:
            spark.sql(f"DROP TABLE IF EXISTS {table_name}")
            print(f"  üóëÔ∏è  {table_name} - ancien metastore supprim√©")
        except Exception as drop_err:
            print(f"  ‚ÑπÔ∏è  {table_name} - pas de metastore existant")

        # Puis CREATE
        spark.sql(create_sql)
        print(f"  ‚úÖ {i}/6 - {table_name} cr√©√©e")
    except Exception as e:
        print(f"  ‚ùå Erreur table {i} ({table_name}): {e}")

print("\n‚úÖ Toutes les tables cr√©√©es !")

üì¶ Cr√©ation des tables externes...

  üóëÔ∏è  dim_temps - ancien metastore supprim√©
  ‚úÖ 1/6 - dim_temps cr√©√©e
  üóëÔ∏è  dim_patient - ancien metastore supprim√©
  ‚úÖ 2/6 - dim_patient cr√©√©e
  üóëÔ∏è  dim_diagnostic - ancien metastore supprim√©
  ‚úÖ 3/6 - dim_diagnostic cr√©√©e
  üóëÔ∏è  dim_professionnel - ancien metastore supprim√©
  ‚úÖ 4/6 - dim_professionnel cr√©√©e
  üóëÔ∏è  dim_etablissement - ancien metastore supprim√©
  ‚úÖ 5/6 - dim_etablissement cr√©√©e
  üóëÔ∏è  fait_consultation - ancien metastore supprim√©
  ‚úÖ 6/6 - fait_consultation cr√©√©e

‚úÖ Toutes les tables cr√©√©es !

---

## üîß √âTAPE 2 : R√©parer les partitions

**Important** : Pour les tables partitionn√©es, Spark doit scanner le r√©pertoire pour d√©couvrir toutes les partitions.

In [13]:
# R√©parer les partitions de fait_consultation
print("üîß R√©paration des partitions de fait_consultation...\n")

spark.sql("MSCK REPAIR TABLE fait_consultation")

print("‚úÖ Partitions r√©par√©es !")

# Afficher les partitions d√©couvertes
partitions = spark.sql("SHOW PARTITIONS fait_consultation")
print(f"\nüìä {partitions.count()} partitions trouv√©es")
partitions.show(20, truncate=False)

üîß R√©paration des partitions de fait_consultation...

‚úÖ Partitions r√©par√©es !

üìä 94 partitions trouv√©es
+------------------+
|partition         |
+------------------+
|annee=2015/mois=10|
|annee=2015/mois=11|
|annee=2015/mois=12|
|annee=2015/mois=6 |
|annee=2015/mois=7 |
|annee=2015/mois=8 |
|annee=2015/mois=9 |
|annee=2016/mois=1 |
|annee=2016/mois=10|
|annee=2016/mois=11|
|annee=2016/mois=12|
|annee=2016/mois=2 |
|annee=2016/mois=3 |
|annee=2016/mois=4 |
|annee=2016/mois=5 |
|annee=2016/mois=6 |
|annee=2016/mois=7 |
|annee=2016/mois=8 |
|annee=2016/mois=9 |
|annee=2017/mois=1 |
+------------------+
only showing top 20 rows

---

## ‚úÖ √âTAPE 3 : V√©rification des tables

Compter les lignes de chaque table pour s'assurer qu'elles sont bien charg√©es.

In [14]:
# Lister toutes les tables
print("üìã Tables disponibles :\n")
spark.sql("SHOW TABLES").show(truncate=False)

üìã Tables disponibles :

+---------+-----------------+-----------+
|namespace|tableName        |isTemporary|
+---------+-----------------+-----------+
|default  |dim_diagnostic   |false      |
|default  |dim_etablissement|false      |
|default  |dim_patient      |false      |
|default  |dim_professionnel|false      |
|default  |dim_temps        |false      |
|default  |fait_consultation|false      |
+---------+-----------------+-----------+

In [15]:
# Compter les lignes de chaque table
print("üìä COMPTAGE DES LIGNES\n")
print("=" * 60)

tables = [
    "dim_temps",
    "dim_patient",
    "dim_diagnostic",
    "dim_professionnel",
    "dim_etablissement",
    "fait_consultation"
]

total = 0
for table in tables:
    try:
        count = spark.sql(f"SELECT COUNT(*) as cnt FROM {table}").collect()[0]['cnt']
        total += count
        print(f"  {table:25s} : {count:>10,} lignes")
    except Exception as e:
        print(f"  {table:25s} : ‚ùå Erreur - {e}")

print("=" * 60)
print(f"  {'TOTAL':25s} : {total:>10,} lignes\n")
print("‚úÖ Toutes les tables sont accessibles !")

üìä COMPTAGE DES LIGNES

============================================================
  dim_temps                 :      4,748 lignes
  dim_patient               :    100,000 lignes
  dim_diagnostic            :     15,490 lignes
  dim_professionnel         :  1,048,575 lignes
  dim_etablissement         :        200 lignes
  fait_consultation         :  1,027,157 lignes
============================================================
  TOTAL                     :  2,196,170 lignes

‚úÖ Toutes les tables sont accessibles !

---

## üîç √âTAPE 4 : Tests des requ√™tes Superset

Tester les requ√™tes qui seront utilis√©es dans Superset.

In [16]:
# TEST 1 : Consultations par ann√©e
print("üîç TEST 1 : Consultations par ann√©e\n")

# Lire directement les fichiers Parquet (bypass Hive)
df_temps = spark.read.parquet("/home/jovyan/data/gold/dim_temps")
df_consult = spark.read.parquet("/home/jovyan/data/gold/fait_consultation")

# Cr√©er des vues temporaires
df_temps.createOrReplaceTempView("dim_temps_tmp")
df_consult.createOrReplaceTempView("fait_consultation_tmp")

query1 = """
SELECT
    t.annee,
    COUNT(*) as nb_consultations,
    COUNT(DISTINCT f.id_patient) as patients_uniques
FROM fait_consultation_tmp f
JOIN dim_temps_tmp t ON f.id_temps = t.id_temps
GROUP BY t.annee
ORDER BY t.annee
"""

spark.sql(query1).show()

üîç TEST 1 : Consultations par ann√©e

+-----+----------------+----------------+
|annee|nb_consultations|patients_uniques|
+-----+----------------+----------------+
| 2015|           33896|           28581|
| 2016|          184308|           85272|
| 2017|          133403|           74201|
| 2018|          160373|           81075|
| 2019|           87497|           58635|
| 2020|          162778|           81612|
| 2021|          145883|           78593|
| 2022|          101991|           66042|
| 2023|           17028|           15772|
+-----+----------------+----------------+

In [17]:
# TEST 2 : Top diagnostics par cat√©gorie CIM-10
print("üîç TEST 2 : Top diagnostics par cat√©gorie CIM-10\n")

# Lire diagnostic
df_diag = spark.read.parquet("/home/jovyan/data/gold/dim_diagnostic")
df_diag.createOrReplaceTempView("dim_diagnostic_tmp")

query2 = """
SELECT
    d.categorie,
    COUNT(*) as nb_consultations,
    ROUND(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER(), 2) as pourcentage
FROM fait_consultation_tmp f
JOIN dim_diagnostic_tmp d ON f.code_diag = d.code_diag
WHERE d.categorie IS NOT NULL
GROUP BY d.categorie
ORDER BY nb_consultations DESC
LIMIT 10
"""

spark.sql(query2).show(truncate=False)

üîç TEST 2 : Top diagnostics par cat√©gorie CIM-10

+---------+----------------+-----------+
|categorie|nb_consultations|pourcentage|
+---------+----------------+-----------+
|M        |172661          |16.81      |
|O        |93887           |9.14       |
|S        |91287           |8.89       |
|T        |65015           |6.33       |
|V        |52376           |5.10       |
|Z        |50938           |4.96       |
|Q        |42209           |4.11       |
|D        |34813           |3.39       |
|K        |32718           |3.19       |
|C        |32433           |3.16       |
+---------+----------------+-----------+

In [23]:
# TEST 3 : Consultations par sexe et tranche d'√¢ge
print("üîç TEST 3 : Consultations par sexe et tranche d'√¢ge\n")

# Lire patient
df_patient = spark.read.parquet("/home/jovyan/data/gold/dim_patient")
df_patient.createOrReplaceTempView("dim_patient_tmp")

query3 = """
SELECT
    p.sexe,
    CASE 
        WHEN p.age < 18 THEN '0-17 ans'
        WHEN p.age < 30 THEN '18-29 ans'
        WHEN p.age < 50 THEN '30-49 ans'
        WHEN p.age < 65 THEN '50-64 ans'
        ELSE '65+ ans'
    END as tranche_age,
    COUNT(*) as nb_consultations
FROM fait_consultation_tmp f
JOIN dim_patient_tmp p ON f.id_patient = p.id_patient
GROUP BY p.sexe, CASE 
    WHEN p.age < 18 THEN '0-17 ans'
    WHEN p.age < 30 THEN '18-29 ans'
    WHEN p.age < 50 THEN '30-49 ans'
    WHEN p.age < 65 THEN '50-64 ans'
    ELSE '65+ ans'
END
ORDER BY p.sexe, tranche_age
"""

spark.sql(query3).show()

üîç TEST 3 : Consultations par sexe et tranche d'√¢ge

+------+-----------+----------------+
|  sexe|tranche_age|nb_consultations|
+------+-----------+----------------+
|female|   0-17 ans|          109235|
|female|  18-29 ans|           74036|
|female|  30-49 ans|          120365|
|female|  50-64 ans|           90167|
|female|    65+ ans|          214966|
|  male|   0-17 ans|           75423|
|  male|  18-29 ans|           51094|
|  male|  30-49 ans|           82206|
|  male|  50-64 ans|           61354|
|  male|    65+ ans|          148311|
+------+-----------+----------------+

In [24]:
# TEST 4 : Top sp√©cialit√©s m√©dicales
print("üîç TEST 4 : Top 10 sp√©cialit√©s m√©dicales\n")

# Lire professionnel
df_prof = spark.read.parquet("/home/jovyan/data/gold/dim_professionnel")
df_prof.createOrReplaceTempView("dim_professionnel_tmp")

query4 = """
SELECT
    prof.nom_specialite,
    COUNT(*) as nb_consultations,
    COUNT(DISTINCT f.id_patient) as patients_differents
FROM fait_consultation_tmp f
JOIN dim_professionnel_tmp prof ON f.id_prof = prof.id_prof
WHERE prof.nom_specialite IS NOT NULL
GROUP BY prof.nom_specialite
ORDER BY nb_consultations DESC
LIMIT 10
"""

spark.sql(query4).show(truncate=False)

üîç TEST 4 : Top 10 sp√©cialit√©s m√©dicales

+-----------------------------------+----------------+-------------------+
|nom_specialite                     |nb_consultations|patients_differents|
+-----------------------------------+----------------+-------------------+
|Medecine Generale                  |519780          |99246              |
|Psychiatrie                        |54336           |42345              |
|Anesthesie-reanimation             |48083           |38516              |
|Radio-diagnostic                   |36867           |31041              |
|Pediatrie                          |33738           |28868              |
|Cardiologie et maladies vasculaires|28751           |25132              |
|Ophtalmologie                      |24374           |21761              |
|Medecine du travail                |24156           |21549              |
|Gynecologie-obstetrique            |19063           |17424              |
|Chirurgie generale                 |16566           |15368              |
+-----------------------------------+----------------+-------------------+

In [ ]:
# TEST 5 : Distribution g√©ographique (avec d√©partements enrichis)
print("üîç TEST 5 : Distribution g√©ographique par r√©gion\n")

# Lire √©tablissement
df_etab = spark.read.parquet("/home/jovyan/data/gold/dim_etablissement")
df_etab.createOrReplaceTempView("dim_etablissement_tmp")

query5 = """
SELECT
    e.libelle_region as region,
    e.abv_region,
    COUNT(DISTINCT e.finess) as nb_etablissements,
    COUNT(DISTINCT e.ville) as nb_villes
FROM dim_etablissement_tmp e
WHERE e.libelle_region IS NOT NULL
GROUP BY e.libelle_region, e.abv_region
ORDER BY nb_etablissements DESC
"""

spark.sql(query5).show(truncate=False)

üîç TEST 5 : Distribution g√©ographique par r√©gion

+--------------------------+----------+-----------------+---------+
|region                    |abv_region|nb_etablissements|nb_villes|
+--------------------------+----------+-----------------+---------+
|Nouvelle-Aquitaine        |NAQ       |40               |37       |
|Auvergne-RhÔøΩne-Alpes      |ARA       |24               |24       |
|Grand Est                 |GES       |23               |22       |
|Normandie                 |NOR       |18               |18       |
|Centre-Val de Loire       |CVL       |15               |15       |
|Hauts-de-France           |HDF       |15               |15       |
|Occitanie                 |OCC       |13               |13       |
|Ile-de-France             |IDF       |11               |11       |
|Bourgogne-Franche-ComtÔøΩ   |BFC       |11               |11       |
|Bretagne                  |BRE       |8                |6        |
|Pays de la Loire          |PDL       |8                |8        |
|Provence-Alpes-CÔøΩte d'Azur|PAC       |7                |7        |
+--------------------------+----------+-----------------+---------+

---

## üìù √âTAPE 5 : Informations de connexion pour Superset

Voici les param√®tres √† utiliser dans Superset.

In [ ]:
print("""
‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê
üìä CONFIGURATION SUPERSET - CHU DATA LAKEHOUSE
‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê

üåê URL Superset : http://localhost:8088

üîê Identifiants :
   Username : admin
   Password : admin

üîå Connexion Database (Settings ‚Üí Database Connections) :

   Database Type : Apache Spark SQL
   
   SQLAlchemy URI :
   ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
   hive://spark-master:10000/default
   ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
   
   OU (si PyHive install√©) :
   ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
   hive://spark-master:10000/default?auth=NOSASL
   ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ

   Display Name : CHU_Gold_Layer

üìä Tables disponibles (6) :
   ‚Ä¢ dim_temps              (4,748 lignes)
   ‚Ä¢ dim_patient            (100,000 lignes)
   ‚Ä¢ dim_diagnostic         (100 lignes)
   ‚Ä¢ dim_professionnel      (100,000 lignes)
   ‚Ä¢ dim_etablissement      (3,500 lignes)
   ‚Ä¢ fait_consultation      (1,027,157 lignes)

‚úÖ NEXT STEPS :
   1. Ouvrir http://localhost:8088
   2. Login avec admin/admin
   3. Settings ‚Üí Database Connections ‚Üí + DATABASE
   4. Copier l'URI ci-dessus
   5. Test Connection ‚Üí CONNECT
   6. Data ‚Üí Datasets ‚Üí Ajouter les 6 tables
   7. Cr√©er des graphiques et dashboards !

‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê
""")

---

## ‚úÖ SETUP TERMIN√â

### üéØ Ce qui a √©t√© fait :

1. ‚úÖ 6 tables Spark SQL cr√©√©es
2. ‚úÖ Partitions de `fait_consultation` r√©par√©es
3. ‚úÖ Toutes les tables v√©rifi√©es (1M+ lignes au total)
4. ‚úÖ Requ√™tes de test ex√©cut√©es avec succ√®s
5. ‚úÖ Thrift Server actif sur port 10000

### üìö Documentation :

Voir **TUTORIEL_SUPERSET.md** pour le guide complet de configuration.

**üéì Workflow complet valid√©** :
```
CSV/PostgreSQL ‚Üí Bronze ‚Üí Silver ‚Üí Gold ‚Üí Spark SQL ‚Üí Superset Dashboards
```